/.vscode
/Assignment2_2
/Assignment_8_1_Trial.py
/hello_world
/MichaelPetranick_Assignment_3_1.py
/MichaelPetranick_Assignment_4_1.py
/MichaelPetranick_Assignment_5_1.py
/MichaelPetranick_Assignment_6_1.py
/MichaelPetranick_Assignment_7_1.py
/MichaelPetranick_Assignment_8_1.py
/MichaelPetranick_ClassProject_Pseudocode.py
/name_cases.py
/Testing.py